* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(136, 194, 191);
}

.center {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.center h1 {
    font-size: 25px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid silver;
}

.center form .user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user_details .input_box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user_details .input_box label {
    display: block;    
    font-weight: 700;
    margin-bottom: 5px;
}

.user_details .input_box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.location input {
    width: 100%;
    height: 45px;
    padding-left: 15px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    margin: 15px 0 15px;
}

.location .custom-select select {
    padding: 8px 12px;
    color: #333333;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
    margin: 15px 0 15px;
    font-weight: bold;
}

select option {
    font-weight: bold;
}

.location textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.user_details .input_box input:focus,
.user_details .input_box input:valid {
    border-color: #2961d9; 
}

form .details {
    font-weight: 700;
}


input[type="submit"], input[type="reset"], input[type="logout"] {
    width: 15%;
    height: 40px;
    border: 1px solid;
    background: #2961d9;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover, 
input[type="reset"]:hover {
    border: #2961d9;
}


