* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.table-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content .colspan {
    background: #636d49;
    color: white;
    font-size: 25px;
}

.table-content thead tr td {
    background-color: #3998cf;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 19px;
}

.table-content th,
.table-content td {
    padding: 15px 18px;
}

.table-content tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}